@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>In esecuzione su: @ViewData["RunningOn"]</p>
    <h2 class="display-2">Meteo</h2>
    <p>Meteo previsto: @ViewData["Meteo"]</p>
</div>
